# ============================================================================
# SIGNula API - OpenAPI 3.0 Specification
# ============================================================================
# This specification documents all public REST API endpoints for SIGNula,
# the universal single sign-on and identity management platform.
#
# Swagger UI:  https://signulo.id/api/docs/swagger/
# Markdown:    https://signulo.id/api/docs/
# Base URL:    https://signulo.id/api/v1
#
# Version:     2.0.0
# Last Updated: 2026-03-08
# ============================================================================

openapi: "3.0.3"

# ============================================================================
# API Metadata
# ============================================================================
info:
  title: SIGNula API
  version: "2.0.0"
  description: |
    ## Overview

    SIGNula provides a comprehensive RESTful API for integrating universal
    authentication, user management, and identity services into your
    applications. A single SIGNula ID gives users seamless access across
    all integrated first-party and third-party services.

    ### Key Features

    - **Universal Authentication** &mdash; OAuth 2.0, social login, passwordless auth
    - **Multi-Factor Authentication** &mdash; TOTP, SMS, email, push notifications, backup codes
    - **User Management** &mdash; Profiles, preferences, activity tracking
    - **Account Linking** &mdash; Connect Google, Microsoft, Apple, Facebook, LinkedIn and more
    - **PassKey / WebAuthn Support** &mdash; FIDO2 biometric authentication
    - **Webhook System** &mdash; Real-time event notifications with HMAC-SHA256 signatures
    - **Partner API Keys** &mdash; Server-to-server integration with scoped permissions
    - **Payment & Subscriptions** &mdash; Multi-tier billing with PayPal, Stripe, crypto and more
    - **Usage-Based Billing** &mdash; Track usage metrics, projected costs, hybrid billing with tier caps
    - **6 Subscription Tiers** &mdash; Free, Basic, Premium, Pro, Platinum, Enterprise + custom tiers
    - **Data Export** &mdash; CSV, Excel, PDF, Google Sheets, Excel Online

    ### Getting Started

    1. Create an account at [signulo.id/register](https://signulo.id/register)
    2. Generate an API key from **Settings > API Keys**
    3. Make your first request (see the Health Check endpoint below)

    ### Response Envelope

    Every response follows a standard JSON envelope:

    ```json
    {
      "success": true,
      "message": "Human-readable message",
      "data": { ... },
      "errors": { ... },
      "meta": {
        "timestamp": "2026-02-18T12:00:00Z",
        "version": "v1",
        "request_id": "550e8400-e29b-41d4-a716-446655440000"
      }
    }
    ```

  termsOfService: https://signulo.com/terms
  contact:
    name: SIGNula API Support
    email: api@signulo.id
    url: https://signulo.id/support
  license:
    name: Proprietary
    url: https://signulo.com/license
  x-logo:
    url: https://signulo.com/assets/img/logo.svg
    altText: SIGNula

# ============================================================================
# Servers
# ============================================================================
servers:
  - url: https://signulo.id/api/v1
    description: Production
  - url: https://beta.signulo.id/api/v1
    description: Beta / Staging
  - url: https://alpha.signulo.id/api/v1
    description: Alpha / Development

# ============================================================================
# Tags (Endpoint Groups)
# ============================================================================
tags:
  - name: Health & Info
    description: API status and information endpoints (no authentication required)
  - name: Authentication
    description: |
      User registration, login, logout, token refresh, email verification, and password management.
      These endpoints issue and manage Bearer tokens used to authenticate subsequent API calls.
  - name: User Management
    description: |
      Read and update user profiles, manage sessions, view activity logs, and configure preferences.
      All endpoints require Bearer token authentication.
  - name: Multi-Factor Authentication
    description: |
      Enable, disable, and verify MFA methods (TOTP, email, SMS, push).
      Manage backup / recovery codes.
  - name: OAuth Account Linking
    description: |
      List available OAuth providers, link and unlink third-party accounts
      (Google, Microsoft, Apple, Facebook, LinkedIn, GitHub), and set a primary provider.
  - name: WebAuthn / PassKeys
    description: |
      FIDO2 / WebAuthn endpoints for registering and authenticating with PassKeys
      (biometrics, hardware security keys). These endpoints are separate from the
      main `/api/v1` router.
  - name: Usage & Billing
    description: |
      Usage tracking, billing summaries, projected costs, and billing mode management.
      Supports fixed, usage-based, and hybrid billing models with tier cap logic.
  - name: Subscription Tiers
    description: |
      Query available subscription tiers (Free, Basic, Premium, Pro, Platinum, Enterprise).
      Partners can create custom tiers with bespoke pricing and feature sets.
  - name: Data Export
    description: |
      Export usage data, billing history, and reports in CSV, Excel (XLSX), PDF,
      Google Sheets, and Excel Online formats.
  - name: Webhooks
    description: |
      Webhook event reference and signature verification guide.
      Partners can configure webhook endpoints via the dashboard or Partner API.
  - name: JWT Auth
    description: |
      RS256 JWT bearer-token issuance, rotation, and revocation for SPA and mobile
      clients (G-003). Endpoints issue short-lived RS256 access tokens (15 min, typ
      `at+jwt`) and long-lived opaque rotating refresh tokens (30 days, single-use
      with automatic reuse detection).

      **Key properties:**
      - Algorithm pinned to RS256; `alg:none` and RS256→HS256 confusion attacks rejected.
      - Refresh-token rotation is single-use: replaying a spent or revoked refresh token
        revokes the entire token family and triggers a security alert.
      - Access-token revocation via a self-expiring `jti` denylist (`tblRevokedTokens`).
      - Public signing keys published at `GET /.well-known/jwks.json` (shared contract
        with G-001 relying parties).

      **Client token storage guidance:**
      - Access token: keep in memory; do not persist to `localStorage`.
      - Refresh token: store in an `httpOnly; Secure; SameSite=Strict` cookie or
        OS-level secure storage. Never `localStorage`.
      - Transmit over HTTPS only.
  - name: OIDC Provider
    description: |
      SIGNula acting as an OAuth 2.0 / OpenID Connect **Provider** — "Sign in
      with SIGNula.id" (G-001). Lets a registered Relying-Party (RP)
      application delegate its own login to a user's SIGNula ID via the
      standard Authorization Code flow with **mandatory PKCE (S256)**.

      **Distinct from "OAuth Account Linking" above** — that group is SIGNula
      acting as a Relying Party CONSUMING Google/Microsoft/etc. This group is
      the OPPOSITE direction: SIGNula issuing tokens as the Identity Provider
      to a third-party RP.

      **Base path — read carefully:** unlike every other group in this
      document, these endpoints are **NOT** under `/api/v1`. They live at the
      SIGNula root, e.g. `https://signula.id/oauth/authorize-idp` (mirrors how
      `GET /.well-known/jwks.json` above is already documented outside
      `/api/v1`).

      **Register a client first:** obtain a `client_id` (and, for confidential
      clients, a `client_secret`, shown once) from the partner-admin OAuth
      Clients page (`/partners/admin/oauth-clients`) before calling any of
      these endpoints.

      **Master switch:** the entire provider surface returns `404` on every
      endpoint until an operator sets `oidc.enabled = 1` in `tblSettings`
      (ships **OFF** by default) — see the OIDC Provider section of
      `SECURITY_SETUP.md`.

      **Pairwise subjects:** by default, a NEW client registration gets
      `subjectType = pairwise` — the `sub` claim is a per-client opaque,
      salted, one-way hash, not the user's raw internal ID, so two RPs cannot
      correlate the same user via a shared identifier.

# ============================================================================
# Security Schemes
# ============================================================================
components:

  # --------------------------------------------------------------------------
  # Security Schemes
  # --------------------------------------------------------------------------
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Obtain an access token from `POST /auth/login` (or `POST /mfa/verify`
        when MFA is enabled). Pass it via the `Authorization` header:

        ```
        Authorization: Bearer eyJhbGciOiJIUzI1NiIs...
        ```

        Tokens expire after **3600 seconds** (1 hour). Use `POST /auth/refresh`
        to obtain a new token.

    APIKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Server-to-server authentication. Generate keys from **Settings > API Keys**.

        Key format: `sk_live_...` (production) or `sk_test_...` (sandbox).

        ```
        X-API-Key: sk_live_abc123xyz789
        ```

    APIKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: |
        API key passed as a query parameter. **Less secure** &mdash; prefer the header method.

        ```
        GET /api/v1/health?api_key=sk_live_abc123xyz789
        ```

    OidcAuthorizationCode:
      type: oauth2
      description: |
        SIGNula acting as an OIDC **Provider** (G-001) — the flow a Relying
        Party (RP) uses to let a user sign in with their SIGNula ID.

        **PKCE (RFC 7636, S256) is REQUIRED** on every code exchange — always
        for public clients (SPA/native/mobile; no usable client_secret), and
        for confidential clients too whenever the `oidc.require_pkce` policy
        is on (the default). `code_challenge_method=plain` is rejected unless
        an operator has explicitly enabled `oidc.allow_plain_pkce` (default
        off — not recommended).
      flows:
        authorizationCode:
          authorizationUrl: https://signula.id/oauth/authorize-idp
          tokenUrl: https://signula.id/oauth/token
          refreshUrl: https://signula.id/oauth/token
          scopes:
            openid: "Confirm it's really you — required on every request"
            email: "Your email address and its verified status"
            profile: "Your name and basic profile information"
            offline_access: "Issue a refresh token for continued access when you're not actively using the app"

    OidcClientSecretBasic:
      type: http
      scheme: basic
      description: |
        RFC 6749 §2.3.1 `client_secret_basic` — send
        `Authorization: Basic base64(client_id:client_secret)`. Required for
        **confidential** clients on `/oauth/token` and `/oauth/revoke`.

        **Public** clients (PKCE-only, no usable secret) omit this header
        entirely and instead authenticate via `client_id` in the request body
        with no `client_secret` (`token_endpoint_auth_methods_supported`
        includes `"none"`). A body-supplied `client_secret_post` pair
        (`client_id` + `client_secret` fields, no Basic header) is also
        accepted for confidential clients.

  # --------------------------------------------------------------------------
  # Reusable Schemas
  # --------------------------------------------------------------------------
  schemas:

    # -- Standard envelope wrappers ------------------------------------------

    Meta:
      type: object
      description: Response metadata included in every API response
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2026-02-18T12:00:00Z"
        version:
          type: string
          example: "v1"
        request_id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"

    Pagination:
      type: object
      description: Pagination metadata for list endpoints
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        pages:
          type: integer
          example: 8

    ErrorResponse:
      type: object
      description: Standard error response envelope
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Validation failed"
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email: ["The email field is required."]
            password: ["Password must be at least 8 characters."]
        meta:
          $ref: "#/components/schemas/Meta"

    # -- Authentication schemas -----------------------------------------------

    RegisterRequest:
      type: object
      required:
        - username
        - email
        - password
        - accept_terms
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 30
          pattern: "^[a-zA-Z0-9_]+$"
          description: Alphanumeric + underscore, 3-30 characters
          example: "johndoe"
        email:
          type: string
          format: email
          example: "john@example.com"
        password:
          type: string
          format: password
          minLength: 8
          description: Must include uppercase, lowercase, and a number
          example: "SecurePass123!"
        first_name:
          type: string
          maxLength: 100
          example: "John"
        last_name:
          type: string
          maxLength: 100
          example: "Doe"
        display_name:
          type: string
          maxLength: 255
          example: "John Doe"
        accept_terms:
          type: boolean
          description: Must be `true` to accept Terms of Service
          example: true

    RegisterResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Account created successfully. Please verify your email."
        data:
          type: object
          properties:
            user_id:
              type: string
              example: "usr_abc123"
            username:
              type: string
              example: "johndoe"
            email:
              type: string
              format: email
              example: "john@example.com"
            email_verified:
              type: boolean
              example: false
            created_at:
              type: string
              format: date-time
              example: "2026-02-18T12:00:00Z"
        meta:
          $ref: "#/components/schemas/Meta"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "john@example.com"
        password:
          type: string
          format: password
          example: "SecurePass123!"
        remember_me:
          type: boolean
          default: false
          description: Extend session / refresh token lifetime
          example: false

    LoginSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Login successful"
        data:
          type: object
          properties:
            access_token:
              type: string
              description: JWT access token
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            refresh_token:
              type: string
              description: Refresh token for obtaining new access tokens
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            expires_in:
              type: integer
              description: Access token TTL in seconds
              example: 3600
            token_type:
              type: string
              example: "Bearer"
            user:
              $ref: "#/components/schemas/UserSummary"
        meta:
          $ref: "#/components/schemas/Meta"

    LoginMFARequiredResponse:
      type: object
      description: Returned when MFA verification is needed to complete login
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "MFA verification required"
        data:
          type: object
          properties:
            mfa_token:
              type: string
              description: Temporary token to pass to `POST /mfa/verify`
              example: "mfa_temp_token_xyz"
            mfa_methods:
              type: array
              items:
                type: string
                enum: [totp, email, sms, push, backup_codes]
              description: MFA methods available for this user
              example: ["totp", "email"]
            expires_in:
              type: integer
              description: Seconds until the MFA token expires
              example: 300
        meta:
          $ref: "#/components/schemas/Meta"

    LogoutRequest:
      type: object
      properties:
        all_devices:
          type: boolean
          default: false
          description: Set to `true` to terminate all sessions (logout everywhere)
          example: false

    RefreshRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          description: Refresh token obtained from login
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

    RefreshResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            access_token:
              type: string
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            expires_in:
              type: integer
              example: 3600
            token_type:
              type: string
              example: "Bearer"
        meta:
          $ref: "#/components/schemas/Meta"

    VerifyEmailRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Verification token received via email
          example: "abc123xyz789"

    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: "john@example.com"

    ResetPasswordRequest:
      type: object
      required:
        - token
        - password
        - password_confirmation
      properties:
        token:
          type: string
          description: Reset token received via email
          example: "reset_token_xyz"
        password:
          type: string
          format: password
          minLength: 8
          example: "NewSecurePass123!"
        password_confirmation:
          type: string
          format: password
          example: "NewSecurePass123!"

    # -- User schemas ---------------------------------------------------------

    UserSummary:
      type: object
      description: Abbreviated user object returned within auth responses
      properties:
        user_id:
          type: string
          example: "usr_abc123"
        username:
          type: string
          example: "johndoe"
        email:
          type: string
          format: email
          example: "john@example.com"
        email_verified:
          type: boolean
          example: true
        mfa_enabled:
          type: boolean
          example: false

    UserProfile:
      type: object
      description: Full user profile
      properties:
        user_id:
          type: string
          example: "usr_abc123"
        username:
          type: string
          example: "johndoe"
        email:
          type: string
          format: email
          example: "john@example.com"
        email_verified:
          type: boolean
          example: true
        first_name:
          type: string
          example: "John"
        last_name:
          type: string
          example: "Doe"
        display_name:
          type: string
          example: "John Doe"
        profile_picture:
          type: string
          format: uri
          example: "https://signulo.id/avatars/usr_abc123.jpg"
        phone_number:
          type: string
          description: E.164 format
          example: "+1234567890"
        phone_verified:
          type: boolean
          example: true
        account_status:
          type: string
          enum: [active, suspended, locked, pending, deleted]
          example: "active"
        account_tier:
          type: string
          enum: [free, basic, premium, enterprise, admin]
          example: "premium"
        mfa_enabled:
          type: boolean
          example: true
        locale:
          type: string
          description: ISO 639-1 language code
          example: "en_US"
        timezone:
          type: string
          description: IANA timezone identifier
          example: "America/New_York"
        created_at:
          type: string
          format: date-time
          example: "2026-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-02-18T12:00:00Z"
        last_login_at:
          type: string
          format: date-time
          example: "2026-02-18T11:00:00Z"

    UpdateProfileRequest:
      type: object
      properties:
        first_name:
          type: string
          maxLength: 100
          example: "John"
        last_name:
          type: string
          maxLength: 100
          example: "Doe"
        display_name:
          type: string
          maxLength: 255
          example: "Johnny"
        phone_number:
          type: string
          description: E.164 format
          example: "+1234567890"
        locale:
          type: string
          example: "en_US"
        timezone:
          type: string
          example: "America/New_York"

    ChangePasswordRequest:
      type: object
      required:
        - current_password
        - new_password
        - new_password_confirmation
      properties:
        current_password:
          type: string
          format: password
          example: "OldPass123!"
        new_password:
          type: string
          format: password
          minLength: 8
          example: "NewSecurePass456!"
        new_password_confirmation:
          type: string
          format: password
          example: "NewSecurePass456!"

    ChangeEmailRequest:
      type: object
      required:
        - new_email
        - password
      properties:
        new_email:
          type: string
          format: email
          example: "newemail@example.com"
        password:
          type: string
          format: password
          description: Current password for verification
          example: "CurrentPass123!"

    Session:
      type: object
      properties:
        session_id:
          type: string
          example: "ses_abc123"
        device_type:
          type: string
          enum: [desktop, mobile, tablet]
          example: "desktop"
        browser:
          type: string
          example: "Chrome 120"
        os:
          type: string
          example: "Windows 11"
        ip_address:
          type: string
          description: IPv4 or IPv6
          example: "192.168.1.100"
        location:
          type: string
          example: "New York, US"
        current:
          type: boolean
          description: Whether this is the current session
          example: true
        created_at:
          type: string
          format: date-time
          example: "2026-02-18T10:00:00Z"
        last_activity:
          type: string
          format: date-time
          example: "2026-02-18T12:00:00Z"

    ActivityLogEntry:
      type: object
      properties:
        activity_id:
          type: string
          example: "act_abc123"
        type:
          type: string
          description: "Activity type (login, logout, profile_update, mfa_enabled, etc.)"
          example: "login"
        result:
          type: string
          enum: [success, failure, warning, info]
          example: "success"
        details:
          type: string
          example: "Logged in from Chrome on Windows"
        ip_address:
          type: string
          example: "192.168.1.100"
        user_agent:
          type: string
          example: "Mozilla/5.0..."
        location:
          type: string
          example: "New York, US"
        timestamp:
          type: string
          format: date-time
          example: "2026-02-18T12:00:00Z"

    UserPreferences:
      type: object
      properties:
        email_notifications:
          type: boolean
          example: true
        sms_notifications:
          type: boolean
          example: false
        push_notifications:
          type: boolean
          example: true
        marketing_emails:
          type: boolean
          example: false
        theme:
          type: string
          enum: [light, dark, system]
          example: "dark"
        language:
          type: string
          example: "en"
        date_format:
          type: string
          example: "MM/DD/YYYY"
        time_format:
          type: string
          enum: ["12h", "24h"]
          example: "12h"

    # -- MFA schemas ----------------------------------------------------------

    MFAEnableRequest:
      type: object
      required:
        - method
        - password
      properties:
        method:
          type: string
          enum: [totp, email, sms]
          description: MFA method to enable
          example: "totp"
        password:
          type: string
          format: password
          description: Current account password for verification
          example: "CurrentPass123!"

    MFAEnableResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "MFA enabled successfully"
        data:
          type: object
          properties:
            method:
              type: string
              example: "totp"
            secret:
              type: string
              description: Base32-encoded TOTP secret (only for `totp` method)
              example: "JBSWY3DPEHPK3PXP"
            qr_code:
              type: string
              description: Data URI of QR code image for authenticator apps
              example: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
            backup_codes:
              type: array
              items:
                type: string
              description: One-time recovery codes (store securely!)
              example: ["12345-67890", "23456-78901", "34567-89012", "45678-90123", "56789-01234"]
        meta:
          $ref: "#/components/schemas/Meta"

    MFADisableRequest:
      type: object
      required:
        - password
        - mfa_code
      properties:
        password:
          type: string
          format: password
          example: "CurrentPass123!"
        mfa_code:
          type: string
          description: Current MFA code or backup code
          example: "123456"

    MFAVerifyRequest:
      type: object
      required:
        - mfa_token
        - mfa_code
        - method
      properties:
        mfa_token:
          type: string
          description: Temporary MFA token from the login response
          example: "mfa_temp_token_xyz"
        mfa_code:
          type: string
          description: 6-digit TOTP code, email OTP, or backup code
          example: "123456"
        method:
          type: string
          enum: [totp, email, sms, push, backup_codes]
          example: "totp"
        remember_device:
          type: boolean
          default: false
          description: Skip MFA for this device for 30 days
          example: false

    MFASetupInfo:
      type: object
      properties:
        mfa_enabled:
          type: boolean
          example: false
        available_methods:
          type: array
          items:
            type: string
            enum: [totp, email, sms]
          example: ["totp", "email", "sms"]
        setup_instructions:
          type: object
          additionalProperties:
            type: object
          example:
            totp:
              step_1: "Install an authenticator app (Google Authenticator, Microsoft Authenticator, etc.)"
              step_2: "Scan the QR code or enter the secret manually"
              step_3: "Enter the 6-digit code from your app to verify"

    BackupCode:
      type: object
      properties:
        code:
          type: string
          example: "12345-67890"
        used:
          type: boolean
          example: false
        used_at:
          type: string
          format: date-time
          nullable: true
          example: null

    RegenerateBackupCodesRequest:
      type: object
      required:
        - password
      properties:
        password:
          type: string
          format: password
          description: Current password for verification
          example: "CurrentPass123!"

    # -- OAuth schemas --------------------------------------------------------

    OAuthProvider:
      type: object
      properties:
        provider:
          type: string
          example: "google"
        name:
          type: string
          example: "Google"
        enabled:
          type: boolean
          example: true
        supports_email:
          type: boolean
          example: true
        supports_profile:
          type: boolean
          example: true

    LinkedOAuthAccount:
      type: object
      properties:
        provider:
          type: string
          example: "google"
        provider_user_id:
          type: string
          example: "google_12345"
        email:
          type: string
          format: email
          example: "john@gmail.com"
        email_verified:
          type: boolean
          example: true
        is_primary:
          type: boolean
          example: true
        linked_at:
          type: string
          format: date-time
          example: "2026-01-01T00:00:00Z"

    LinkOAuthRequest:
      type: object
      required:
        - provider
        - redirect_uri
      properties:
        provider:
          type: string
          enum: [google, microsoft, apple, facebook, linkedin, github]
          example: "google"
        redirect_uri:
          type: string
          format: uri
          description: URL to redirect to after OAuth authorization
          example: "https://yourapp.com/oauth/callback"

    LinkOAuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            authorization_url:
              type: string
              format: uri
              description: Redirect the user to this URL to complete OAuth
              example: "https://accounts.google.com/o/oauth2/v2/auth?client_id=...&redirect_uri=...&state=..."
            state:
              type: string
              description: CSRF state token (verify on callback)
              example: "random_state_token"
        meta:
          $ref: "#/components/schemas/Meta"

    SetPrimaryOAuthRequest:
      type: object
      required:
        - provider
      properties:
        provider:
          type: string
          enum: [google, microsoft, apple, facebook, linkedin, github]
          example: "google"

    # -- WebAuthn schemas -----------------------------------------------------

    WebAuthnRegisterOptions:
      type: object
      description: PublicKeyCredentialCreationOptions for navigator.credentials.create()
      properties:
        rp:
          type: object
          properties:
            name:
              type: string
              example: "SIGNula"
            id:
              type: string
              example: "signulo.id"
        user:
          type: object
          properties:
            id:
              type: string
              description: Base64url-encoded user ID
            name:
              type: string
              example: "john@example.com"
            displayName:
              type: string
              example: "John Doe"
        challenge:
          type: string
          description: Base64url-encoded challenge
        pubKeyCredParams:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: "public-key"
              alg:
                type: integer
                description: COSE algorithm identifier
                example: -7
        timeout:
          type: integer
          description: Timeout in milliseconds
          example: 60000
        attestation:
          type: string
          enum: [none, indirect, direct]
          example: "none"
        authenticatorSelection:
          type: object
          properties:
            authenticatorAttachment:
              type: string
              enum: [platform, cross-platform]
            residentKey:
              type: string
              enum: [required, preferred, discouraged]
            userVerification:
              type: string
              enum: [required, preferred, discouraged]

    WebAuthnAuthOptions:
      type: object
      description: PublicKeyCredentialRequestOptions for navigator.credentials.get()
      properties:
        challenge:
          type: string
          description: Base64url-encoded challenge
        timeout:
          type: integer
          example: 60000
        rpId:
          type: string
          example: "signulo.id"
        allowCredentials:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: "public-key"
              id:
                type: string
                description: Base64url-encoded credential ID
              transports:
                type: array
                items:
                  type: string
                  enum: [usb, ble, nfc, internal]
        userVerification:
          type: string
          enum: [required, preferred, discouraged]

    # -- Webhook schemas ------------------------------------------------------

    # -- Subscription Tier -------------------------------------------------------

    SubscriptionTier:
      type: object
      description: A subscription tier with pricing, features, and limits
      properties:
        tier_id:
          type: integer
          example: 4
        tier_name:
          type: string
          example: "Pro"
        tier_slug:
          type: string
          example: "pro"
        description:
          type: string
          example: "Professional-grade features for growing businesses"
        monthly_price:
          type: string
          example: "49.99"
        yearly_price:
          type: string
          example: "499.99"
        currency:
          type: string
          example: "GBP"
        features:
          type: array
          items:
            type: string
          example: ["Everything in Premium", "50 team members", "200,000 API calls/month"]
        feature_limits:
          type: object
          properties:
            api_calls:
              type: integer
              nullable: true
            team_members:
              type: integer
              nullable: true
            storage_gb:
              type: number
              nullable: true
        usage_limits:
          type: object
          nullable: true
          description: Per-metric usage limits for this tier
        billing_mode:
          type: string
          enum: [fixed, usage, hybrid]
          example: "fixed"
        team_member_limit:
          type: integer
          nullable: true
          example: 50
        api_calls_per_month:
          type: integer
          nullable: true
          example: 200000
        storage_gb:
          type: number
          nullable: true
          example: 100.00
        display_order:
          type: integer
          example: 4
        is_active:
          type: boolean
        is_default:
          type: boolean
        is_custom:
          type: boolean
          description: Whether this is a custom partner-created tier
        trial_days:
          type: integer
          example: 14
        badge:
          type: string
          nullable: true
          example: "Best Value"
        badge_color:
          type: string
          nullable: true
          example: "success"

    # -- Webhook Payload ---------------------------------------------------------

    WebhookPayload:
      type: object
      description: Payload delivered to webhook endpoints
      properties:
        event:
          type: string
          description: Event type identifier
          example: "user.created"
        timestamp:
          type: string
          format: date-time
          example: "2026-02-18T12:00:00Z"
        data:
          type: object
          description: Event-specific data
          example:
            user_id: "usr_abc123"
            email: "john@example.com"
            created_at: "2026-02-18T12:00:00Z"
        signature:
          type: string
          description: "HMAC-SHA256 signature: `sha256=<hex>`"
          example: "sha256=abc123def456..."

    # -- Generic success response ---------------------------------------------

    SuccessMessage:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operation completed successfully"
        meta:
          $ref: "#/components/schemas/Meta"

    # -- JWT Auth schemas (G-003) ---------------------------------------------

    JwtTokenRequest:
      type: object
      description: |
        Request body for `POST /auth/token`. Two grants are accepted (in precedence order):

        1. **Session grant** — no body needed; an existing authenticated browser session
           bootstraps a JWT pair.
        2. **Password grant** — supply `email` (or `username`) and `password`. On MFA-required
           a `401` with `mfa_required: true` is returned; complete MFA before retrying.
      properties:
        email:
          type: string
          format: email
          description: User email address (password grant). Accepts `username` as an alias.
          example: "john@example.com"
        username:
          type: string
          description: Username alias for `email` (password grant).
          example: "johndoe"
        password:
          type: string
          format: password
          description: User password (password grant). Never logged.
          example: "SecurePass123!"
        scope:
          type: string
          description: >
            Space-delimited requested scope subset. Silently restricted to
            `user:read user:write`. Omit to receive the full default set.
          example: "user:read user:write"

    JwtTokenResponse:
      type: object
      description: Successful token issuance response from `POST /auth/token` or `POST /auth/refresh`.
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Token issued"
        data:
          type: object
          required:
            - access_token
            - token_type
            - expires_in
            - refresh_token
            - scope
          properties:
            access_token:
              type: string
              description: >
                RS256 JWT access token. Header carries `typ: at+jwt` (RFC 9068) and `kid`.
                Lifetime controlled by `jwt.access_ttl` setting (default 900 s / 15 min).
              example: "eyJhbGciOiJSUzI1NiIsInR5cCI6ImF0K2p3dCIsImtpZCI6IjIwMjYwNy0xYTJiM2M0ZCJ9..."
            token_type:
              type: string
              enum: [Bearer]
              example: "Bearer"
            expires_in:
              type: integer
              description: Access-token lifetime in seconds.
              example: 900
            refresh_token:
              type: string
              description: >
                Opaque, high-entropy (256-bit) refresh token. Single-use: consumed on
                the next `POST /auth/refresh`, which issues a new pair. Never log or
                store in localStorage.
              example: "a3f8c2d1e4b5..."
            scope:
              type: string
              description: Space-delimited scopes granted.
              example: "user:read user:write"
        meta:
          $ref: "#/components/schemas/Meta"

    JwtMfaRequiredResponse:
      type: object
      description: >
        Returned by `POST /auth/token` when the supplied credentials are correct but
        MFA verification is required before tokens are issued. Complete the MFA step
        via the existing MFA endpoints, then retry `POST /auth/token`.
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "MFA verification required"
        data:
          type: object
          properties:
            mfa_required:
              type: boolean
              example: true
        meta:
          $ref: "#/components/schemas/Meta"

    JwtRefreshRequest:
      type: object
      required:
        - refresh_token
      description: Request body for `POST /auth/refresh`.
      properties:
        refresh_token:
          type: string
          description: >
            The opaque refresh token received from the most recent `POST /auth/token`
            or `POST /auth/refresh`. Single-use: the presented token is invalidated and
            a new pair is returned. Replaying a spent token revokes the entire family.
          example: "a3f8c2d1e4b5..."

    JwtRevokeRequest:
      type: object
      description: >
        RFC 7009 revocation request. Supply a `token` in the body, or omit it to revoke
        the caller's own Bearer access token from the Authorization header.
      properties:
        token:
          type: string
          description: The token to revoke (access JWT or opaque refresh token).
          example: "eyJhbGciOiJSUzI1NiIs..."
        token_type_hint:
          type: string
          enum: [access_token, refresh_token]
          description: >
            Optional hint for faster processing. If omitted, the server infers the type
            from the token shape (three dot-delimited segments = access; 64 lowercase
            hex chars = refresh).
          example: "access_token"

    JwksKey:
      type: object
      description: A single RSA public JWK entry in the JWKS document.
      required:
        - kty
        - use
        - alg
        - kid
        - "n"
        - e
      properties:
        kty:
          type: string
          enum: [RSA]
          example: "RSA"
        use:
          type: string
          enum: [sig]
          description: Key use — always `sig` (signature verification).
          example: "sig"
        alg:
          type: string
          enum: [RS256]
          description: Algorithm — always RS256.
          example: "RS256"
        kid:
          type: string
          description: Key ID. Matches the `kid` header in access-token JWTs.
          example: "202607-1a2b3c4d5e6f"
        "n":
          type: string
          description: RSA modulus, base64url-encoded (RFC 7518 §6.3.1).
          example: "0vx7agoebGcQSuuPiLJXZp..."
        e:
          type: string
          description: RSA public exponent, base64url-encoded.
          example: "AQAB"

    JwksResponse:
      type: object
      description: >
        JSON Web Key Set (RFC 7517). Published at `GET /.well-known/jwks.json`.
        Contains all currently-valid RS256 public keys (active plus recently-retired keys
        still covering live tokens). Used by verifiers to validate SIGNula JWT signatures
        without holding a shared secret. No private key material is ever included.
      required:
        - keys
      properties:
        keys:
          type: array
          items:
            $ref: "#/components/schemas/JwksKey"
          example:
            - kty: "RSA"
              use: "sig"
              alg: "RS256"
              kid: "202607-1a2b3c4d5e6f"
              n: "0vx7agoebGcQSuuPiLJXZp..."
              e: "AQAB"

    # -- OIDC Provider schemas (G-001) -----------------------------------------
    # NOTE: unlike the rest of this document, the OIDC Provider endpoints do
    # NOT use the {success,message,data,meta} house envelope — their shapes
    # are dictated by RFC 6749 / RFC 7009 / OIDC Core, not this codebase's
    # convention. See the "OIDC Provider" tag description above.

    OAuthErrorResponse:
      type: object
      description: >
        Raw RFC 6749 §5.2 / RFC 6750 §3 error body used by every OIDC Provider
        endpoint (`/oauth/authorize-idp` redirect errors, `/oauth/token`,
        `/oauth/userinfo`, `/oauth/revoke`).
      required:
        - error
      properties:
        error:
          type: string
          description: >
            An RFC 6749/6750 error code. Seen from these endpoints:
            `invalid_request`, `invalid_client`, `invalid_grant`,
            `invalid_scope`, `invalid_token`, `unsupported_grant_type`,
            `unsupported_response_type`, `access_denied`, `rate_limited`,
            `temporarily_unavailable`, `not_found`.
          example: "invalid_grant"
        error_description:
          type: string
          description: >
            Human-readable detail. Deliberately generic on grant/token
            failures (e.g. an expired code, a replayed code, and a
            wrong-client code all return the SAME message) so the response
            never discloses which specific check failed.
          example: "The authorization code is invalid or has already been used."

    OidcAuthorizeConsentRequest:
      type: object
      description: >
        `POST /oauth/authorize-idp` — submits the user's Allow/Deny decision
        from the consent screen. Every field mirrors the original GET
        request's (already-validated) parameters, carried forward as hidden
        form fields and RE-VALIDATED in full on submit — nothing from an
        earlier GET is trusted as-is.
      required:
        - csrf_token
        - client_id
        - redirect_uri
        - response_type
        - scope
        - decision
      properties:
        csrf_token:
          type: string
          description: CSRF token from the rendered consent screen.
        client_id:
          type: string
          example: "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
        redirect_uri:
          type: string
          format: uri
          example: "https://app.example.com/auth/callback"
        response_type:
          type: string
          enum: [code]
        scope:
          type: string
          example: "openid profile email"
        state:
          type: string
        code_challenge:
          type: string
        code_challenge_method:
          type: string
          enum: [S256, plain]
        nonce:
          type: string
        decision:
          type: string
          enum: [approve, deny]
          description: >
            ANY value other than exactly `approve` (including a missing or
            tampered field) is treated as a denial — a code is never issued
            unless the user explicitly clicked Allow.
          example: "approve"

    OidcTokenRequest:
      type: object
      description: |
        `POST /oauth/token` request body (`application/x-www-form-urlencoded`,
        RFC 6749 §4.1.3 / §6). Two grants are accepted:

        1. **`authorization_code`** — exchange a Stage-A2 code for tokens.
           Requires `code` and `redirect_uri` (byte-exact match to the
           original authorization request); `code_verifier` is required
           whenever the code carries a `code_challenge` (i.e. always, for
           PKCE-mandatory clients).
        2. **`refresh_token`** — rotate a refresh token. Requires
           `refresh_token`. The presented token must belong to the
           AUTHENTICATED client — a token minted for a different client (or a
           first-party token) is rejected with `invalid_grant`.

        **Client authentication** (RFC 6749 §2.3): HTTP Basic
        (`client_secret_basic`, see the `OidcClientSecretBasic` security
        scheme) is tried first; `client_id`/`client_secret` body fields
        (`client_secret_post`) are the fallback. Public clients present
        `client_id` only (`none`).
      required:
        - grant_type
      properties:
        grant_type:
          type: string
          enum: [authorization_code, refresh_token]
        code:
          type: string
          description: Required for `authorization_code`. Single-use — a replay revokes the token family it originally minted.
        redirect_uri:
          type: string
          format: uri
          description: Required for `authorization_code`. Must byte-exact match the value sent to `/oauth/authorize-idp` — no normalisation.
        code_verifier:
          type: string
          description: PKCE verifier (RFC 7636 §4.1). Required whenever the code carries a `code_challenge`.
        refresh_token:
          type: string
          description: Required for `refresh_token`. Opaque, single-use rotating token.
        client_id:
          type: string
          description: Required unless supplied via HTTP Basic.
        client_secret:
          type: string
          description: Confidential clients only; omit for public (PKCE-only) clients.

    OidcTokenResponse:
      type: object
      description: >
        Successful `POST /oauth/token` response (RFC 6749 §5.1 / OIDC Core
        §3.1.3.3). `Cache-Control: no-store` and `Pragma: no-cache` are always
        set on this response.
      required:
        - access_token
        - token_type
        - expires_in
        - scope
      properties:
        access_token:
          type: string
          description: >
            RS256 JWT access token (`typ: at+jwt`). Its `sub` is the OIDC
            pairwise (or public, per client policy) subject — never the raw
            userID. Lifetime controlled by `oidc.access_ttl` (default 900 s).
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6ImF0K2p3dCIsImtpZCI6IjIwMjYwNy0xYTJiM2M0ZCJ9..."
        token_type:
          type: string
          enum: [Bearer]
          example: "Bearer"
        expires_in:
          type: integer
          description: Access-token lifetime in seconds.
          example: 900
        scope:
          type: string
          description: Space-delimited scopes actually granted.
          example: "openid email profile offline_access"
        id_token:
          type: string
          description: >
            OIDC id_token (RS256 JWT: `iss`, `sub`, `aud=client_id`, `exp`,
            `iat`, `nbf`, `auth_time`, the echoed `nonce` if one was supplied,
            plus profile/email claims gated by the granted scope — never a
            `scope` claim). Present on the `authorization_code` grant;
            OMITTED from `refresh_token` grant responses (OIDC Core §12.2
            does not require re-minting it on refresh).
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
        refresh_token:
          type: string
          description: >
            Opaque, single-use rotating refresh token. Present ONLY when the
            `offline_access` scope was granted (`oidc.refresh_enabled` must
            also be on). Always re-issued on a `refresh_token` grant response.
          example: "a3f8c2d1e4b5..."

    OidcRevokeRequest:
      type: object
      description: >
        `POST /oauth/revoke` request body (`application/x-www-form-urlencoded`,
        RFC 7009 §2.1). Client authentication is identical to `/oauth/token`.
      required:
        - token
      properties:
        token:
          type: string
          description: The refresh token OR access token (compact JWT) to revoke.
        token_type_hint:
          type: string
          enum: [refresh_token, access_token]
          description: >
            Optional hint only — an incorrect or absent hint still works (the
            shape of the token itself is checked).
        client_id:
          type: string
        client_secret:
          type: string

    OidcUserInfoResponse:
      type: object
      description: >
        `GET`/`POST /oauth/userinfo` response (OIDC Core §5.3.2). Claims are
        STRICTLY gated by the presented access token's GRANTED scope: `sub` is
        always present; `email`/`email_verified` require the `email` scope;
        `name`/`given_name`/`family_name`/`preferred_username`/`picture`
        require the `profile` scope. A token minted with `openid` alone
        returns `sub` and nothing else.
      required:
        - sub
      properties:
        sub:
          type: string
          description: >
            OIDC pairwise (or public, per client policy) subject — the SAME
            opaque value the id_token carried for this user+client.
          example: "3f9b1c8e2a7d4f6b0c1e5a8d9f2b3c4e5d6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c"
        email:
          type: string
          format: email
          example: "john@example.com"
        email_verified:
          type: boolean
          example: true
        name:
          type: string
          example: "John Doe"
        given_name:
          type: string
          example: "John"
        family_name:
          type: string
          example: "Doe"
        preferred_username:
          type: string
          example: "johndoe"
        picture:
          type: string
          format: uri
          example: "https://signula.id/avatar/3f9b1c8e2a7d/256"

    OidcDiscoveryResponse:
      type: object
      description: >
        OpenID Provider Metadata (OpenID Connect Discovery 1.0 §3), published
        at `GET /.well-known/openid-configuration`. Every endpoint URL is
        derived from the `oidc.issuer` setting — never hardcoded.
      required:
        - issuer
        - authorization_endpoint
        - token_endpoint
        - userinfo_endpoint
        - jwks_uri
        - revocation_endpoint
        - response_types_supported
        - grant_types_supported
        - subject_types_supported
        - id_token_signing_alg_values_supported
        - scopes_supported
        - token_endpoint_auth_methods_supported
        - code_challenge_methods_supported
        - claims_supported
      properties:
        issuer:
          type: string
          example: "https://signula.id"
        authorization_endpoint:
          type: string
          example: "https://signula.id/oauth/authorize-idp"
        token_endpoint:
          type: string
          example: "https://signula.id/oauth/token"
        userinfo_endpoint:
          type: string
          example: "https://signula.id/oauth/userinfo"
        jwks_uri:
          type: string
          example: "https://signula.id/.well-known/jwks.json"
        revocation_endpoint:
          type: string
          example: "https://signula.id/oauth/revoke"
        response_types_supported:
          type: array
          items:
            type: string
          example: ["code"]
        grant_types_supported:
          type: array
          items:
            type: string
          example: ["authorization_code", "refresh_token"]
        subject_types_supported:
          type: array
          items:
            type: string
          example: ["pairwise", "public"]
        id_token_signing_alg_values_supported:
          type: array
          items:
            type: string
          example: ["RS256"]
        scopes_supported:
          type: array
          items:
            type: string
          example: ["openid", "email", "profile", "offline_access"]
        token_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
          example: ["client_secret_basic", "client_secret_post", "none"]
        code_challenge_methods_supported:
          type: array
          items:
            type: string
          example: ["S256"]
        claims_supported:
          type: array
          items:
            type: string
          example: ["sub", "iss", "aud", "exp", "iat", "auth_time", "nonce", "email", "email_verified", "name", "given_name", "family_name", "preferred_username", "picture"]

  # --------------------------------------------------------------------------
  # Reusable Parameters
  # --------------------------------------------------------------------------
  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number for paginated results

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Number of results per page (max 100)

  # --------------------------------------------------------------------------
  # Reusable Responses
  # --------------------------------------------------------------------------
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            message: "Authentication required"
            meta:
              timestamp: "2026-02-18T12:00:00Z"
              version: "v1"
              request_id: "550e8400-e29b-41d4-a716-446655440000"

    Forbidden:
      description: Authenticated but insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            message: "Insufficient permissions"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            message: "Resource not found"

    ValidationError:
      description: Input validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            message: "Validation failed"
            errors:
              email: ["The email field is required."]

    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Maximum requests allowed in the window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in the window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when the window resets
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            message: "Rate limit exceeded"
            data:
              retry_after: 3600

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            message: "An unexpected error occurred"

    OidcRateLimited:
      description: >
        Rate limit exceeded (B-059). Per-IP and, when a client_id was
        presented, per-client — reuses the `jwt.rate_limit.*` settings (G-003)
        under endpoint-specific bucket names.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying (mirrors `jwt.rate_limit.window_seconds`).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OAuthErrorResponse"
          example:
            error: "rate_limited"
            error_description: "Too many requests. Please try again later."

# ============================================================================
# Paths (Endpoints)
# ============================================================================
paths:

  # ==========================================================================
  # HEALTH & INFO
  # ==========================================================================

  /health:
    get:
      tags: [Health & Info]
      operationId: getHealth
      summary: API health check
      description: |
        Returns the current health status of the API. Use this endpoint to
        verify connectivity and monitor uptime. No authentication required.
      responses:
        "200":
          description: API is operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "API is operational"
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [healthy, degraded, maintenance]
                        example: "healthy"
                      timestamp:
                        type: string
                        format: date-time
                        example: "2026-02-18T12:00:00Z"
                      version:
                        type: string
                        example: "v1"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "503":
          description: API is under maintenance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /info:
    get:
      tags: [Health & Info]
      operationId: getInfo
      summary: API information
      description: Returns general information about the API including version and documentation link.
      responses:
        "200":
          description: API information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "SIGNula API"
                      version:
                        type: string
                        example: "v1"
                      documentation:
                        type: string
                        format: uri
                        example: "https://signulo.id/api/docs"
                      status:
                        type: string
                        example: "active"
                  meta:
                    $ref: "#/components/schemas/Meta"

  # ==========================================================================
  # AUTHENTICATION
  # ==========================================================================

  /auth/register:
    post:
      tags: [Authentication]
      operationId: register
      summary: Register a new user
      description: |
        Create a new SIGNula user account. A verification email will be sent
        to the provided email address. The user must verify their email before
        logging in.

        **Rate limit:** 10 requests per minute (sensitive endpoint).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResponse"
        "409":
          description: Username or email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                success: false
                message: "Email address is already registered"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/login:
    post:
      tags: [Authentication]
      operationId: login
      summary: Authenticate user
      description: |
        Authenticate a user with email and password. Returns access and refresh tokens.

        If the user has MFA enabled, a `202 Accepted` response is returned with a
        temporary `mfa_token`. Use this token with `POST /mfa/verify` to complete
        the authentication.

        **Rate limit:** 10 requests per minute (sensitive endpoint).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful (no MFA required)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginSuccessResponse"
        "202":
          description: MFA verification required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginMFARequiredResponse"
        "401":
          description: Invalid credentials, email not verified, or account locked/suspended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalid_credentials:
                  summary: Wrong email or password
                  value:
                    success: false
                    message: "Invalid email or password"
                email_not_verified:
                  summary: Email not yet verified
                  value:
                    success: false
                    message: "Please verify your email address before logging in"
                account_locked:
                  summary: Account locked after too many attempts
                  value:
                    success: false
                    message: "Account locked due to too many failed login attempts. Please reset your password."
                account_suspended:
                  summary: Account suspended by admin
                  value:
                    success: false
                    message: "Your account has been suspended. Please contact support."
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/logout:
    post:
      tags: [Authentication]
      operationId: logout
      summary: Logout user
      description: |
        Invalidate the current access token and end the session.
        Optionally revoke all active sessions by setting `all_devices: true`.
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
      responses:
        "200":
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "Logged out successfully"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/token:
    post:
      tags: [JWT Auth]
      operationId: issueJwtToken
      summary: Issue JWT bearer tokens
      description: |
        Issue a short-lived RS256 access token and a long-lived opaque refresh token.

        Two grants are accepted (in precedence order):

        1. **Session grant** — an existing authenticated browser session (cookie). No
           body required. The SPA calls this to bootstrap a token from its session.
        2. **Password grant** — `email` (or `username`) + `password`. Internally
           verified via `Auth::login()` — lockout, account-status, and MFA gate all
           apply. On MFA-required, a `401` with `mfa_required: true` is returned;
           complete MFA, then retry.

        The token `sub` (userID) is **always** resolved from a server-verified identity.
        No client-supplied `sub` or `userID` ever reaches token issuance.

        **Token properties:**
        - Access token: RS256 JWT, `typ: at+jwt` (RFC 9068), `kid` header, default
          15-min lifetime (`jwt.access_ttl`), `scope` claim.
        - Refresh token: 256-bit opaque string, single-use rotating, 30-day default
          lifetime (`jwt.refresh_ttl`). Only its SHA-256 hash is stored server-side.

        **Security headers on response:** `Cache-Control: no-store`, `Pragma: no-cache`.

        **Rate limits:**
        - Per IP: `jwt.rate_limit.token_per_ip` / `jwt.rate_limit.window_seconds`
          (default 30 / 15 min).
        - Per identifier: `jwt.rate_limit.token_per_identifier` / window
          (default 10 / 15 min). Credential-stuffing guard.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JwtTokenRequest"
            examples:
              password_grant:
                summary: Email + password
                value:
                  email: "john@example.com"
                  password: "SecurePass123!"
                  scope: "user:read user:write"
              session_grant:
                summary: Session bootstrap (no body needed)
                value: {}
      responses:
        "200":
          description: Tokens issued successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: "no-store"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwtTokenResponse"
        "401":
          description: |
            Invalid credentials, account locked/suspended, or MFA required.
            When MFA is required, `data.mfa_required` is `true`.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/JwtMfaRequiredResponse"
              examples:
                invalid_credentials:
                  summary: Wrong email or password
                  value:
                    success: false
                    message: "Invalid credentials"
                mfa_required:
                  summary: MFA verification required
                  value:
                    success: false
                    message: "MFA verification required"
                    data:
                      mfa_required: true
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/revoke:
    post:
      tags: [JWT Auth]
      operationId: revokeJwtToken
      summary: Revoke access or refresh token (RFC 7009)
      description: |
        Revoke an access token (adds its `jti` to the self-expiring denylist) and/or
        revoke a refresh token family.

        **RFC 7009 semantics:** always returns `200` — revocation is idempotent and
        must not leak whether the token was valid.

        **What gets revoked:**
        - Body `token` with `token_type_hint: access_token` (or JWT shape) → access-token
          `jti` denylisted until the token's original `exp`.
        - Body `token` with `token_type_hint: refresh_token` (or 64-char hex shape) →
          entire refresh-token family revoked.
        - No body token → the caller's own Bearer access token (from `Authorization`
          header) is denylisted.

        Only tokens the caller presents are revoked — there is no cross-user revocation
        on this endpoint.
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JwtRevokeRequest"
            examples:
              revoke_access:
                summary: Revoke an access token
                value:
                  token: "eyJhbGciOiJSUzI1NiIs..."
                  token_type_hint: "access_token"
              revoke_refresh:
                summary: Revoke a refresh token family
                value:
                  token: "a3f8c2d1e4b5..."
                  token_type_hint: "refresh_token"
      responses:
        "200":
          description: Revocation accepted (always — per RFC 7009 §2.2)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "Token revoked"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/refresh:
    post:
      tags: [Authentication, JWT Auth]
      operationId: refreshToken
      summary: Rotate refresh token (JWT)
      description: |
        Exchange a valid opaque refresh token for a new RS256 access token + refresh
        token pair. **Single-use rotation** — the presented refresh token is invalidated
        atomically and a new pair (same rotation family) is returned.

        **Reuse detection:** replaying an already-spent or revoked refresh token revokes
        the entire token family, raises a HIGH security alert, and returns `401`. Both
        the attacker and the legitimate client are logged out.

        **Rate limit:** `jwt.rate_limit.refresh_per_ip` requests per
        `jwt.rate_limit.window_seconds` per IP (default 60 / 15 min).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JwtRefreshRequest"
      responses:
        "200":
          description: New access + refresh token pair issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwtTokenResponse"
        "400":
          description: Missing `refresh_token` field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: >
            Invalid, expired, or reused refresh token. Reason is not disclosed
            (no validity signal per RFC 7009 principles). On reuse, the entire
            token family is revoked server-side.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/verify-email:
    get:
      tags: [Authentication]
      operationId: verifyEmailGet
      summary: Verify email (via link)
      description: |
        Verify a user's email address using a token received in the verification email.
        This GET endpoint is used when the user clicks the link in their email.
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Email verification token
          example: "abc123xyz789"
      responses:
        "200":
          description: Email verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Email verified successfully"
                  data:
                    type: object
                    properties:
                      email_verified:
                        type: boolean
                        example: true
                      verified_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Authentication]
      operationId: verifyEmailPost
      summary: Verify email (via POST)
      description: Verify email address by submitting the token in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEmailRequest"
      responses:
        "200":
          description: Email verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Email verified successfully"
                  data:
                    type: object
                    properties:
                      email_verified:
                        type: boolean
                        example: true
                      verified_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid or expired token

  /auth/forgot-password:
    post:
      tags: [Authentication]
      operationId: forgotPassword
      summary: Request password reset
      description: |
        Send a password reset email to the specified address.

        **Security note:** This endpoint always returns `200 OK` regardless of
        whether the email exists, to prevent email enumeration attacks.

        **Rate limit:** 10 requests per minute (sensitive endpoint).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
      responses:
        "200":
          description: Password reset email sent (always succeeds)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "Password reset email sent. Please check your inbox."
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/reset-password:
    post:
      tags: [Authentication]
      operationId: resetPassword
      summary: Reset password
      description: |
        Reset the user's password using a valid reset token received via email.
        The token expires after a configurable period (default: 15-30 minutes).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
      responses:
        "200":
          description: Password reset successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "Password reset successfully. You can now login with your new password."
        "400":
          description: Invalid or expired reset token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  # ==========================================================================
  # USER MANAGEMENT
  # ==========================================================================

  /user/profile:
    get:
      tags: [User Management]
      operationId: getProfile
      summary: Get user profile
      description: Retrieve the authenticated user's full profile.
      security:
        - BearerAuth: []
        - APIKeyAuth: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/UserProfile"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

    put:
      tags: [User Management]
      operationId: updateProfile
      summary: Update user profile
      description: |
        Update the authenticated user's profile fields.
        Only the fields included in the request body will be updated.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Profile updated successfully"
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        example: "usr_abc123"
                      first_name:
                        type: string
                      last_name:
                        type: string
                      display_name:
                        type: string
                      updated_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /user/sessions:
    get:
      tags: [User Management]
      operationId: getSessions
      summary: List active sessions
      description: |
        List all active sessions for the authenticated user.
        The `current` field indicates which session belongs to the current request.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of active sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      sessions:
                        type: array
                        items:
                          $ref: "#/components/schemas/Session"
                      total:
                        type: integer
                        example: 2
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /user/session/{id}:
    delete:
      tags: [User Management]
      operationId: deleteSession
      summary: Terminate a session
      description: |
        Terminate (revoke) a specific session, effectively logging the user out
        on that device. Cannot terminate the current session (use `POST /auth/logout` instead).
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Session ID to terminate
          example: "ses_xyz789"
      responses:
        "200":
          description: Session terminated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "Session terminated successfully"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /user/activity:
    get:
      tags: [User Management]
      operationId: getActivity
      summary: Get activity log
      description: |
        Retrieve the authenticated user's activity log with support for
        filtering and pagination.
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: type
          in: query
          schema:
            type: string
          description: "Filter by activity type (e.g., `login`, `logout`, `profile_update`)"
          example: "login"
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Start date filter (ISO 8601)
          example: "2026-01-01T00:00:00Z"
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: End date filter (ISO 8601)
          example: "2026-02-18T23:59:59Z"
      responses:
        "200":
          description: Activity log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      activities:
                        type: array
                        items:
                          $ref: "#/components/schemas/ActivityLogEntry"
                      pagination:
                        $ref: "#/components/schemas/Pagination"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /user/preferences:
    get:
      tags: [User Management]
      operationId: getPreferences
      summary: Get user preferences
      description: Retrieve the authenticated user's notification and display preferences.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/UserPreferences"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

    put:
      tags: [User Management]
      operationId: updatePreferences
      summary: Update user preferences
      description: |
        Update one or more user preferences. Only provided fields are changed;
        omitted fields retain their current values.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferences"
      responses:
        "200":
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "Preferences updated successfully"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /user/change-password:
    post:
      tags: [User Management]
      operationId: changePassword
      summary: Change password
      description: |
        Change the authenticated user's password. Requires the current password
        for verification. All other active sessions will remain valid.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "Password changed successfully"
        "401":
          description: Current password is incorrect
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  /user/change-email:
    post:
      tags: [User Management]
      operationId: changeEmail
      summary: Change email address
      description: |
        Initiate an email change. A verification email is sent to the new address.
        The email is only updated after the user verifies the new address.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeEmailRequest"
      responses:
        "200":
          description: Verification email sent to new address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "Verification email sent to newemail@example.com. Please verify to complete email change."
        "401":
          description: Password is incorrect
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Email already in use
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  # ==========================================================================
  # MULTI-FACTOR AUTHENTICATION
  # ==========================================================================

  /mfa/enable:
    post:
      tags: [Multi-Factor Authentication]
      operationId: enableMFA
      summary: Enable MFA
      description: |
        Enable multi-factor authentication for the authenticated user.

        For TOTP, the response includes a Base32 secret and QR code for
        authenticator apps (Google Authenticator, Microsoft Authenticator, etc.).

        **Important:** Store the backup codes securely. They are the only way
        to recover access if the primary MFA method is lost.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MFAEnableRequest"
      responses:
        "200":
          description: MFA enabled with setup data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MFAEnableResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /mfa/disable:
    post:
      tags: [Multi-Factor Authentication]
      operationId: disableMFA
      summary: Disable MFA
      description: |
        Disable multi-factor authentication. Requires the current password
        and a valid MFA code (or backup code) for verification.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MFADisableRequest"
      responses:
        "200":
          description: MFA disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
              example:
                success: true
                message: "MFA disabled successfully"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Invalid MFA code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /mfa/verify:
    post:
      tags: [Multi-Factor Authentication]
      operationId: verifyMFA
      summary: Verify MFA code
      description: |
        Complete MFA verification during login. Called after `POST /auth/login`
        returns a `202` response with an `mfa_token`.

        On success, returns the full set of access/refresh tokens as if the
        login had succeeded without MFA.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MFAVerifyRequest"
      responses:
        "200":
          description: MFA verified, tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginSuccessResponse"
        "401":
          description: MFA token expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid MFA code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                success: false
                message: "Invalid MFA code. Please try again."

  /mfa/setup:
    get:
      tags: [Multi-Factor Authentication]
      operationId: getMFASetup
      summary: Get MFA setup information
      description: |
        Retrieve available MFA methods and setup instructions for the
        authenticated user. Shows whether MFA is currently enabled.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: MFA setup information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/MFASetupInfo"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /mfa/backup-codes:
    get:
      tags: [Multi-Factor Authentication]
      operationId: getBackupCodes
      summary: Get backup codes
      description: |
        Retrieve the user's MFA backup / recovery codes, including which
        codes have been used.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Backup codes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      backup_codes:
                        type: array
                        items:
                          $ref: "#/components/schemas/BackupCode"
                      remaining:
                        type: integer
                        description: Number of unused codes remaining
                        example: 4
                      total:
                        type: integer
                        example: 5
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /mfa/backup-codes/regenerate:
    post:
      tags: [Multi-Factor Authentication]
      operationId: regenerateBackupCodes
      summary: Regenerate backup codes
      description: |
        Generate a new set of backup codes. **All previous codes are immediately
        invalidated.** Store the new codes securely.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegenerateBackupCodesRequest"
      responses:
        "200":
          description: New backup codes generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Backup codes regenerated successfully. Previous codes are now invalid."
                  data:
                    type: object
                    properties:
                      backup_codes:
                        type: array
                        items:
                          type: string
                        example: ["12345-67890", "23456-78901", "34567-89012", "45678-90123", "56789-01234"]
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ==========================================================================
  # OAUTH ACCOUNT LINKING
  # ==========================================================================

  /oauth/providers:
    get:
      tags: [OAuth Account Linking]
      operationId: getOAuthProviders
      summary: List OAuth providers
      description: |
[...]
